body {
    background: white;
    overflow-x: hidden;
}

/* Header */
.ant-layout-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    padding: 40px 80px !important;
    border-bottom: 1px solid #DEE1E6;
    background-color: #FFFFFF;
}

.ant-layout-header * {
    margin: 0;
}

.ant-layout-header h1 a {
    font-size: 26px;
    color: #40A798;
    font-weight: bold;
}

.ant-layout-header h1 a:hover {
    color: #40A798;
}

.ant-layout-header nav ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

.ant-layout-header nav ul a,
.ant-layout-header nav ul button {
    font-size: 16px;
    color: #476268;
}

.ant-layout-header nav ul a:hover,
.ant-layout-header nav ul button:hover {
    color: #40A798 !important;
}

.ant-layout-header nav ul a.active {
    color: #40A798;
    font-weight: bold;
}

.ant-layout-header nav ul a.nav-button {
    padding: 14px 20px;
    background: #f1f1f1;
    border-radius: 8px;
}

.ant-layout-header nav ul button.nav-button {
    background-color: #f1f1f1;
    border-radius: 8px;
    border: none;
    margin: 0px;
    vertical-align: middle;
    cursor: pointer;
    padding: 14px 20px;
    margin-top: -3px;
    line-height: normal;
}

/* End of Header */

/* Card Snippet */
.card-title {
    color: #FFFFFF !important;
    margin: 0 !important;
}

.card-snippet-top {
    font-size: 12px !important;
    font-weight: 400 !important;
    color: #FFFFFF !important;
    margin: 0 !important;
}

.card-snippet-bottom {
    color: #FFFFFF !important;
    margin: 0 !important;
    margin-top: 6px;
    font-size: 14px !important;
    height: 66px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* End of Card Snippet  */


/* Card Primary */
.card-primary {
    height: 356px;
    overflow: hidden;
    background-image: url("../assets/empty.png");
    background-size: cover;
    background-position: center;
    border: none;
}

.card-primary .ant-card-body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    border: none;
    background: linear-gradient(90deg, rgba(190, 190, 190, 0.2) 25%, rgba(129, 129, 129, 0.24) 37%, rgba(190, 190, 190, 0.2) 63%);
    animation: ant-skeleton-loading 1.4s ease infinite;
    background-size: 400% 100%;
}

.card-primary .card-primary-body {
    height: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: center !important;
}

.card-primary .card-primary-content {
    padding: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-110%);
    transition: transform 0.3s ease-in-out;
    background-color: #40A798;
}

.card-primary:hover .card-primary-content {
    transform: translateX(0%);
    background-color: #40a798c7;
    transition: transform 0.3s ease-in-out, background-color 1s ease-in-out;
}
/* End of Card Primary */

/* Card Secondary */
.card-secondary {
    height: 141px;
    border-radius: 12px;
    overflow: hidden;
    background-image: url("../assets/empty.png");
    background-size: cover;
    background-position: center;
    border: none;
}

.card-secondary .ant-card-body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    border: none;
    background: linear-gradient(90deg, rgba(190, 190, 190, 0.2) 25%, rgba(129, 129, 129, 0.24) 37%, rgba(190, 190, 190, 0.2) 63%);
    animation: ant-skeleton-loading 1.4s ease infinite;
    background-size: 400% 100%;
}

.card-secondary .card-secondary-body {
    height: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: center !important;
}

.card-secondary .card-secondary-body .card-secondary-content {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #1c554c5d;
    align-items: flex-end;
    padding: 12px;
}
/* End of Card Secondary */

/* Custom Input */
.custom-input {
    padding: 12px 20px;
    border: none;
    background: #e8f0fe !important;
    border-radius: 12px;
}

.custom-input input {
    background-color: #e8f0fe !important;
}

.custom-input input:active,
.custom-input input:focus,
.custom-input input:hover {
    box-shadow: none;
}
/* End of Custom Input */

/* Custom Button */
.custom-button {
    background-color: #40A798;
    border-color: #40A798;
    padding: 8px 20px;
    height: auto;
    width: auto;
    border-radius: 12px;
}

.custom-button:hover,
.custom-button:active,
.custom-button:focus {
    background-color: #308679;
}
/* End of Custom Button */

/* Poster Detail */
.poster-detail {
    height: 356px;
    background-position: center !important;
    background-size: cover !important;
    border: none;
}

.poster-detail .ant-card-body {
    background: linear-gradient(90deg, rgba(190, 190, 190, 0.2) 25%, rgba(129, 129, 129, 0.24) 37%, rgba(190, 190, 190, 0.2) 63%);
    animation: ant-skeleton-loading 1.4s ease infinite;
    background-size: 400% 100%;
    width: 100%;
    height: 100%;
}
/* End of Poster Detail */


/* Filter Search */
.filter-search {
    display: flex;
    background-color: #f1f1f1;
    overflow: hidden;
    border-radius: 12px;
    padding: 12px 12px;
}

.filter-search .ant-input {
    border: none !important;
    box-shadow: none !important;
    z-index: 0 !important;
    padding: 0 !important;
    padding-left: 8px !important;
    background-color: #f1f1f1 !important;
}

.filter-search .ant-input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-search .ant-input-group .ant-input-group-addon {
    width: auto;
    background-color: transparent !important;
}

.filter-search .ant-input-search-button {
    border-radius: 4px !important;
    background-color: #308679;
    padding: 8px 20px !important;
    height: auto !important;
    border-color: #308679 !important;
    color: #FFFFFF !important;
}

.filter-search .ant-input-affix-wrapper {
    background-color: transparent;
    border: none;
    box-shadow: none !important;
}

/* End of Filter Search */

/* Poster Image */

.poster-image {
    height: 375px;
    overflow: hidden;
    background-image: url("../assets/empty.png");
    background-size: cover;
    background-position: center;
    border: none;
}

.poster-image .ant-card-body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    border: none;
    background: linear-gradient(90deg, rgba(190, 190, 190, 0.2) 25%, rgba(129, 129, 129, 0.24) 37%, rgba(190, 190, 190, 0.2) 63%);
    animation: ant-skeleton-loading 1.4s ease infinite;
    background-size: 400% 100%;
}


.poster-image .poster-image-body {
    height: 100%;
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.poster-image .poster-image-body:hover {
    background-color: #f3f3f3 !important;
    background-size: contain !important;
}

/* End of Poster Image */

/* Form */
.custom-form .ant-input, 
.custom-form .ant-input-number-input,
.custom-form .ant-picker {
    background-color: #e8f0fe;
    height: 2.3rem;
    border-color: transparent;
    border-radius: 12px;
}

.custom-form .ant-input-number {
    border-radius: 12px;
    border: none !important;
}

.custom-form .ant-form-item-has-error .ant-input,
.custom-form .ant-form-item-has-error .ant-picker, 
.custom-form .ant-form-item-has-error .ant-input-number-input {
    background-color: #fff1f5 !important;
    border: unset;
}

.custom-form .ant-btn {
    border-radius: 12px;
    height: 42px;
    width: 120px;
}

.custom-form .ant-form-item-has-error .ant-input-password {
    background-color: #fff1f5 !important;
}

.custom-form .ant-input-password {
    background-color: #e8f0fe;
    border: none;
    border-radius: 12px;
}
/* End of Form */